.currentWeather{
    max-width: 100vw;
    color: #343A40;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: end;
}
.city{
    font-size: min(2.5em, 36px);
}
.time{
    font-size: min(1.2em, 16px);
    font-weight: 300;
    opacity: 0.9;
    margin: .8rem 0 1.7rem 0;
}
.temperature{
    font-size: min(7em, 96px);
}
.forecastDay{
   display: grid;
   grid-template-columns: repeat(5, 20%);
}
.nowWeather{
    position: relative;
    padding: 2.7rem 3rem;
    max-width: 100%;
    border-radius: 24px 24px 0 0;
    transition: ease 0.5s;
    overflow: hidden;
    
}
.nowWeather:hover{
    cursor: pointer;
    background: #343a4013;
}
.active{
    background: #343A40;
    color: white;
}
.active:hover{
    background: #343A40;
}
.bg_video{
    position: absolute;
    top: 0;
    left: -50%;
    height: 100%;
    opacity: 0.2;
    display: none;
}
.active video{
    display: block
}

@media (max-width: 768px) {
    .currentWeather{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        min-width: 100vw;
    }
    .city{
        font-size: 2rem;
    }
    .time{
        font-size: .8rem;
        margin: .3rem 0 1rem 0;
    }
    .temperature{
        font-size: 15vw;
    }
    .forecastDay{
        display: flex;
        flex-direction: column;
        min-width: 100vw;
    }
    .nowWeather{
        color: white;
        background: #343A40;
        border-radius: 0;
        min-width: 100vw;
    }
    .bg_video{
        top: 0;
        left: 0;
        height: 100%;
        display: block;
    }
}