.nowInfo{
    background: #343A40;
    min-width: 100vw;
    color: white;
    padding: 25px 15px;
}
.nowInfo span{
    font-size: 18px;
    font-weight: 700;
}
.info{
    display: flex;
    justify-content: space-between;

}
.info div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.info p{
    margin: 10px;
}
.value{
    font-size: 24px;
    font-weight: 700;
}
.title{
    font-size: 18px;
    opacity: 0.8;
}

@media (max-width: 768px) {
    .nowInfo{
        min-width: 100vw;
    }
    .nowInfo span{
        font-size: 1rem;
        font-weight: 500;
    }
    .info{
        flex-direction: column;
    }
    .info div{
        flex-direction: row;
        justify-content: space-between;
    }
    .value{
        font-weight: 500;
    }
}